<!DOCTYPE HTML>
<html lang="en">
<head>
<title>{{mm.title}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="{{url_for('static', filename='planet.css')}}" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="alternate" href="rss20.xml" title="" type="application/atom+xml">
<link rel="shortcut icon" href="{{mm.favicon}}" type="image/x-icon" />
</head>

<body>
<div class="container">
    <a href="/">
    {% if mm.logo[:4] == "http" %}
    <img src="{{mm.logo}}" class="logo" />
    {% else %}
    <img src="{{url_for('static', filename=mm.logo)}}" class="logo" />
    {% endif %}
    </a>
    <h1 class="title">{{mm.title}}</h1>

    <div id="planet">
        {% include 'pagination.html' %}
        {% set dt = namespace(year=0, month=0, day=0) %}
        {% for entry in mm.entries %}
        <div class="daygroup">
            {%if dt.year!=entry.date.tm_year or dt.month!=entry.date.tm_mon or dt.day!=entry.date.tm_mday%}
            <h1>{{entry.date|date("%Y-%m-%d")}}</h1>
            {% set dt.year = entry.date.tm_year %}
            {% set dt.month = entry.date.tm_mon %}
            {% set dt.day = entry.date.tm_mday %}
            {%endif%}
                <h2><a href="{{entry.source.url}}" title="{{entry.source.name}}">{{entry.source.name}}</a></h2>
                <div class="entrygroup" >
                    <h3><a href="{{entry.link}}">{{entry.title}}</a></h3>
                    <div class="entry">
                        <div class="content">
                        {{entry.content|safe}}
                        </div>
                        <p class="date">
                            <a href="{{entry.link}}">by {{entry.authors}} at {{entry.date|date("%Y-%m-%d %H:%M")}}</a>
                        </p>
                    </div>
                </div>
        </div>
        {% endfor %}
        {% include 'pagination.html' %}
    </div>

    <div class="sidebar">
        {% if "presentation" in config.MAKEMAKE_MISC %}
        <h1>{{config.MAKEMAKE_MISC.presentation.title}}</h1>
            {{config.MAKEMAKE_MISC.presentation.text|safe}}
        {% endif %}

        {% if config.MAKEMAKE_DISPLAY_SOURCES %}
        <h1>Subscriptions</h1>
        <ul>
            {% for source in mm.sources %}
            <li>
                <a href="{{source.url}}" title="subscribe"><img width="10" height="10" src="{{url_for('static', filename='feed-icon-10x10.png')}}" alt="(feed)"></a>
                <a href="{{source.link}}" title="{{source.name}}">{{source.name}}</a>
            </li>
            {% endfor %}
        </ul>
        {% if config.MAKEMAKE_DISPLAY_SOURCES %}
        <p><a href="/subscriptions.opml">Export subscriptions (OPML)</a>
        {% endif %}
        {% endif %}

        {% if "related" in config.MAKEMAKE_MISC %}
        <h1>Related</h1>
            {% for related in config.MAKEMAKE_MISC.related %}
            <p><a href="{{related.link}}">{{related.name}}</a>
            {% endfor %}
        {% endif %}

        {% if config.MAKEMAKE_FEEDS %}
        <h1>Feeds</h1>
        <ul>
            {% if "RSS" in config.MAKEMAKE_FEEDS %}
            <li><a href="/rss20.xml" title="subscribe"><img width="10" height="10" src="{{url_for('static', filename='feed-icon-10x10.png')}}" alt="(feed)"></a> <a href="/rss20.xml">RSS</a></li>
            {% endif %}
            {% if "ATOM" in config.MAKEMAKE_FEEDS %}
            <li><a href="/atom.xml" title="subscribe"><img width="10" height="10" src="{{url_for('static', filename='feed-icon-10x10.png')}}" alt="(feed)"></a> <a href="/atom.xml">Atom</a></li>
            {% endif %}
        </ul>
        {% endif %}

        <h1>Last update</h1>
        <p>
            {{mm.last_update|date("%Y-%m-%d %H:%M")}}<br>
            <em>All times are UTC.</em><br>
        </p>
    </div>
</div>

<div class="footer">
</div>
</body>
</html>
