    {% if config.MAKEMAKE_PAGINATION %}
    {% if mm.pagination_page > 1 %}
    <a href="{{url_for('home',page=mm.pagination_page-1)}}">Previous</a>
    {% else %}
    Previous
    {% endif %}

    [{{mm.pagination_page}}]

    {% if mm.pagination_page < mm.pagination_pages %}
    <a href="{{url_for('home',page=mm.pagination_page+1)}}">Next</a>
    {% else %}
    Next
    {% endif %}
    {% endif %}
